<div class="container" id="post-content">
  <div class="row">
    <h1><%= @post.title %></h1>
    <p><%= @post.content %></p>
    <div class="edit-form">

    </div>
    <% if user_signed_in? && current_user == @post.user %>
      <%= link_to("Edit", edit_user_post_path(current_user, @post), remote: true, class: 'edit_post_link') %>
    <% end %>
  </div>
</div>
