<%= render 'show' %>

<div class="container">
  <div class="row" id="comments">
    <h1>Comments</h1>
  </div>
</div>

<script type="text/javascript">
  function loadComments () {
     $.ajax({
       type: 'GET',
       contentType: 'application/javascript',
       url: '<%= post_comments_path @post %>'
    })
  }
  $(document).on('turbolinks:load', function () {
    loadComments()
  })
</script>
