<form action="login/send" method="post">
  <label for="username">
    Usuario:
    <input type="text" name="username">
  </label>

  <label for="password">
    Email:
    <input type="email" name="email">
  </label>

  <label for="password">
    Contraseña:
    <input type="password" name="password">
  </label>

  <input type="submit" value="Enviar">
</form>
