<% if @posts.empty? %>
    <h1>There is no posts</h1>
    <%= link_to('Create your first post', new_user_post_path(current_user)) %>
  <% else %>
    <% @posts.each do |post| %>
    <h1><%= post.title %></h1>
    <textarea>
      <%= post.content %>
    </textarea>
    <% end %>
    <%= link_to('Create another post', new_user_post_path(current_user)) %>
<% end %>
