<form action="/products/new" method="post">
  <input type="text" name="product[name]">
  <input type="number" name="product[price]">
  <input type="text" name="product[currency]">
  <input type="submit" name="" value="Crear producto">
</form>
