<form action="/ecommerce/create" method="post">
  <label for="sku">
    Sku
    <input type="text" name="sku">
  </label>
  <label for="quantity">
    Quantity
    <input type="number" name="quantity">
  </label>
  <label for="sku">
    Name
    <input type="text" name="name">
  </label>
  <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
  <input type="submit" value="Enviar">
</form>
