<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Coeco Store</title>
  </head>
  <body>
    <!-- <a href="/products/new">Crear producto</a> -->
    <%= yield %>
  </body>
</html>
