<%= @product %>
<form action="/cart" method="post">
  <input type="hidden" name="product[name]" value="<%= @product[:name] %>">
  <input type="hidden" name="product[price]" value="<%= @product[:price] %>">
  <input type="hidden" name="product[currency]" value="<%= @product[:currency] %>">
  <button type="submit">Add to cart</button>
</form>
